.about {
  background-image: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__title {
  font-size: 44px;
  line-height: 53px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 65px 0;
}

.about__text {
  color: #fff;
}

.text-second {
  padding-bottom: 80px;
}