.features {
  background-color: #ecf0f1;
}

.features__title {
  font-size: 44px;
  line-height: 53px;
  color: #34495e;
  text-transform: uppercase;
  font-weight: 700;
  padding: 60px 0px;
}

.features__item {
  text-align: center;
  padding-bottom: 60px;
}

.features__item-text {
  font-size: 20px;
  line-height: 26px;
  color: #34495e;
  padding-top: 25px;
}